<div class="row">
  		<div class="col-sm-6 col-md-4">
    		<div class="thumbnail">
      			<img src="/assets/servilleta_01.jpg" alt="...">
      			<div class="caption">
        			<h3>Greca 01</h3>
      			</div>
    		</div>
  		</div>
  		<div class="col-sm-6 col-md-4">
    		<div class="thumbnail">
      			<img src="/assets/servilleta_02.jpg" alt="...">
      			<div class="caption">
        			<h3>Greca 02</h3>
      			</div>
    		</div>
  		</div>
  		<div class="col-sm-6 col-md-4">
    		<div class="thumbnail">
      			<img src="/assets/servilleta_03.jpg" alt="...">
      			<div class="caption">
        			<h3>Greca 03</h3>
      			</div>
    		</div>
  		</div>
  		<div class="col-sm-6 col-md-4">
    		<div class="thumbnail">
      			<img src="/assets/servilleta_04.jpg" alt="...">
      			<div class="caption">
        			<h3>Greca 04</h3>
      			</div>
    		</div>
  		</div>
  		<div class="col-sm-6 col-md-4">
    		<div class="thumbnail">
      			<img src="/assets/servilleta_05.jpg" alt="...">
      			<div class="caption">
        			<h3>Greca 05</h3>
      			</div>
    		</div>
  		</div>
  		<div class="col-sm-6 col-md-4">
    		<div class="thumbnail">
      			<img src="/assets/servilleta_06.jpg" alt="...">
      			<div class="caption">
        			<h3>Classic 01</h3>
      			</div>
    		</div>
  		</div>
  		<div class="col-sm-6 col-md-4">
    		<div class="thumbnail">
      			<img src="/assets/servilleta_07.jpg" alt="...">
      			<div class="caption">
        			<h3>Classic 02</h3>
      			</div>
    		</div>
  		</div>
  		<div class="col-sm-6 col-md-4">
    		<div class="thumbnail">
      			<img src="/assets/servilleta_08.jpg" alt="...">
      			<div class="caption">
        			<h3>Classic 03</h3>
      			</div>
    		</div>
  		</div>
	</div>